venv/
.venv/
env/
.env/
ENV/
env.bak/
venv.bak/
*/venv/
*/.venv/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

htmlcov/
.tox/
.nosexy/
.nosetests/
nosetests.xml
.lazy-pytest/
.pytest_cache/
.cache/
vstudiotests/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log

*.sqlite3
*.db
django/db.sqlite3

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*~
*.bak
*.tmp
*.temp

*.log
logs/
django/*.log
fastapi/*.log
