POSTGRES_USER=nicolas
POSTGRES_PASSWORD=nicosan123
POSTGRES_DB=restaurant
POSTGRES_HOST=database_restaurante
POSTGRES_PORT=5432
POSTGRES_URL=postgresql+asyncpg://nicolas:nicosan123@database_restaurante:5432/restaurant
REDIS_HOST=cache_restaurante
REDIS_PORT=6379

SECRET_KEY=django-insecure-c)u7!elicn$p8wsz9x$^l20wtu+a2h3!-x&dzax3k+z8lbce+o
DEBUG=false
DJANGO_SUPERUSER_USERNAME=nicolas
DJANGO_SUPERUSER_PASSWORD=nicolas241205n.
DJANGO_SUPERUSER_EMAIL=nic@gmail.com

# SON LLAVES DE DESARROLLO, NO TIENEN NINGUN VALOR 